[submodule "libraries/netcipher"]
	path = libraries/netcipher
	url = https://github.com/codlab/NetCipher
[submodule "emojicon"]
	path = emojicon
	url = git@github.com:codlab/emojicon.git
[submodule "showcase"]
	path = showcase
	url = git@github.com:codlab/ShowcaseView.git
[submodule "greendao"]
	path = greendao
	url = git@github.com:Codlabtech/greenDAO.git
