[submodule "daogenerator"]
	path = daogenerator
	url = https://bitbucket.org/lduparc/daogenerator-android.git
[submodule "libraries/netcipher"]
	path = libraries/netcipher
	url = https://github.com/codlab/NetCipher
[submodule "emojicon"]
	path = emojicon
	url = git@github.com:codlab/emojicon.git
[submodule "showcase"]
	path = showcase
	url = git@github.com:codlab/ShowcaseView.git
